body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    color: white;
}
.container {
    max-width: 1150px;
    margin: auto;
}
.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1199px) {
    .container {
        width: 940px;
    }
}
@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 95%;
    }
}