body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    color: white;
}
.container {
    max-width: 1270px;
    margin: auto;
}
.grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.btn {
    display: inline-block;
    background-color: #cccccc;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}
.btn:hover {
    background-color: #bbbbbb;
}
.btn.btn-sm {
    font-size: 12px;
    padding: 7px 12px 7px 12px;
    font-weight: bold;
}
.btn.btn-orange {
    background-color: #FF7518;
    color: white;
}
.btn.btn-orange:hover {
    background-color: #cd5a0e;
}
.icon-sm {
    font-size: 10px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.topmenu {
    text-align: right;
}
.topmenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.topmenu ul li {
    display: inline-block;
}
.topmenu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
}
.topmenu ul li a:hover {
    background-color: black;
}
.topmenu ul ul {
    display: none;
    position: absolute;
}
.topmenu li:hover a {
    background-color: black;
}
.topmenu li:hover ul {
    display: block;
    width: 200px;
}
.topmenu li:hover ul li {
    display: block;
    border-bottom: 1px solid #cccccc;
}
.topmenu li:hover ul li a {
    text-align: left;
    color: black;
    background-color: #eeeeee;
}
.topmenu li:hover ul li a:hover {
    color: white;
    background-color: #2780E3;
}
.topmenu ul li a.show-on-tab {
    display: none;
}
.topmenu ul li a.hide-on-tab, .hide-on-tab {
    display: block;
}
@media (max-width: 1199px) {
    .container {
        width: 940px;
    }
}
@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 95%;
    }
    .topmenu ul li a.show-on-tab {
        display: block;
    }
    .topmenu ul li a.hide-on-tab {
        display: none;
    }
    .topmenu li:hover ul {
        margin-left: -150px;
    }
    .grid-column {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}